{{#bulma-footer}}
    {{#bulma-columns}}
        {{!col1}}
        {{#bulma-column}}
            <h1 class="subtitle">Ayúdanos a llegar a más personas</h1>
            <ul>
                <li><a href="http://donacion.redciudadana.org/">{{fa-icon 'heart'}} Donaciones</a></li>
                <li><a href="http://voluntarios.redciudadana.org/">{{fa-icon 'users'}} Voluntariado</a></li>
            </ul>
        {{/bulma-column}}

        {{!col2}}
        {{#bulma-column class="has-centered-text"}}
            <h1 class="subtitle">Desarrollado por:</h1>
            <img src="img/logo-red.png" alt="Red Ciudadana">
        {{/bulma-column}}

        {{!col3}}
        {{#bulma-column}}
            <h1 class="subtitle">Ayúdanos a llegar a más personas</h1>
            <ul>
                <li><a href="mailto:info@redciudadana.org.gt">{{fa-icon 'envelope'}} Correo electrónico: info@redciudadana.org</a></li>
            </ul>
        {{/bulma-column}}
    {{/bulma-columns}}
{{/bulma-footer}}