{{#bulma-footer}}
  {{#bulma-container}}
    {{#bulma-columns}}
      {{!-- col-1 --}}
      {{#bulma-column}}
        <strong>About</strong>
        <ul>
          <li>Metodology</li>
          <li>We</li>
          <li>Other</li>
        </ul>
      {{/bulma-column}}
      {{!-- col-2 --}}
      {{#bulma-column}}
        <strong>Build with <i class="fa fa-heart"></i> &amp; :</strong>
        <ul>
          <li>Ember.js</li>
          <li>Bulma.io</li>
          <li>Github pages</li>
          <li>Font awesome</li>
        </ul>
      {{/bulma-column}}
      {{!-- col-3 --}}
      {{#bulma-column}}
        <strong>Contact:</strong>
        <ul>
          <li>email: email@host.dom</li>
          <li>phone: 0000-0000</li>
          <li>Guatemala City</li>
        </ul>
      {{/bulma-column}}
    {{/bulma-columns}}
  {{/bulma-container}}
{{/bulma-footer}}
