{{#bulma-nav hasShadow=true}}

  {{#bulma-nav-left isHiddenMobile=true}}
    <img src="img/escudo.png" alt="" class="escudo">
    <img src="img/banner.png" alt="Red Ciudadana & Corte de Constitucionalidad" class="header-banner">
  {{/bulma-nav-left}}

  {{!-- ONLY IN MOBILE --}}
  {{#bulma-nav-center isHiddenTablet=true}}
    <img src="img/escudo.png" alt="" class="escudo">
  {{/bulma-nav-center}}

  {{#bulma-nav-right}}
    <a href="https://twitter.com/RedxGuate" class="nav-item" target="_blank">
      <span class="icon">
        <i class="fa fa-twitter"></i>
      </span>
    </a>
    <a href="https://www.facebook.com/Redciudadanagt/" class="nav-item" target="_blank">
      <span class="icon">
        <i class="fa fa-facebook"></i>
      </span>
    </a>
  {{/bulma-nav-right}}

{{/bulma-nav}}
